# Package Lock File
package-lock.json

# Environment variables
.env

# DB Migration config
db/config.json
db/config/config.json

# Logs
logs
*.log
npm-debug.log*

# Documentation
docs

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Visual Studio Code settings
.vscode

# Credential files
*.pem

# db related
db/*

# Coverage directory
coverage